# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
venv/

**/*.pt

**/.git/objects/pack/*.pack

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Project Specific - Large Files & Artifacts
sysu-shape-dataset/